# Importing data and libraries

In [12]:
# importing libraries
import pandas as pd # data science essentials
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # enhanced data visualization
import statsmodels.formula.api as smf # regression modeling
from sklearn.model_selection import train_test_split # train/test split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report
import numpy as np

# setting pandas print options
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)


# specifying the path and file names
file = './H_Retail with country fixed.csv'


# reading the file into Python
retail = pd.read_csv(file)


# checking the table
retail.head()

   customer_id sex_at_birth       occupation   employment_type  education  completed_years_of_education      marital_status relationship_in_household   race  country type_of_client  quantity  total_spending  total_invoice
0       442855            F    Other-service           Private    HS-grad                             9            Divorced                 Unmarried  White  America            NaN       144           79.20              1
1       587848            M                ?                 ?  Doctorate                            16  Married-civ-spouse                   Husband  White  America            NaN       208          521.11             54
2      1787912            M  Farming-fishing  Self-emp-not-inc    HS-grad                             9  Married-civ-spouse                   Husband  White  America     Wholesaler        55          172.89             14
3      5740114            M     Craft-repair           Private  Assoc-voc                            11  Married-civ-spouse                   Husband  White  America            NaN        48          188.15             11
4      5957969            M    Other-service           Private  Bachelors                            13  Married-civ-spouse                   Husband  White  America            NaN        20           56.15              9

In [15]:
type(retail) == Nan

NameError: name 'Nan' is not defined

# Feature Engineering

In [3]:
# replaicing '?' values with NaN
retail1 = retail.replace('?', np.nan)

In [4]:
# Visualizing the table
retail1.head(n = 5)

   customer_id sex_at_birth       occupation   employment_type  education  completed_years_of_education      marital_status relationship_in_household   race  country type_of_client  quantity  total_spending  total_invoice
0       442855            F    Other-service           Private    HS-grad                             9            Divorced                 Unmarried  White  America            NaN       144           79.20              1
1       587848            M              NaN               NaN  Doctorate                            16  Married-civ-spouse                   Husband  White  America            NaN       208          521.11             54
2      1787912            M  Farming-fishing  Self-emp-not-inc    HS-grad                             9  Married-civ-spouse                   Husband  White  America     Wholesaler        55          172.89             14
3      5740114            M     Craft-repair           Private  Assoc-voc                            11  Married-civ-spouse                   Husband  White  America            NaN        48          188.15             11
4      5957969            M    Other-service           Private  Bachelors                            13  Married-civ-spouse                   Husband  White  America            NaN        20           56.15              9

In [4]:
# Checking how many null values
retail1.isnull().sum(axis = 0)

customer_id                        0
sex_at_birth                       0
occupation                       250
employment_type                  249
education                          0
completed_years_of_education       0
marital_status                     0
relationship_in_household          0
race                               0
country                            0
type_of_client                  3140
quantity                           0
total_spending                     0
total_invoice                      0
dtype: int64

In [5]:
#finding the mode for columns with missing values
print(retail1['occupation'].mode())
print(retail1['employment_type'].mode())
print(retail1['country'].mode())

0    Prof-specialty
dtype: object
0    Private
dtype: object
0    America
dtype: object

In [6]:
# imputing missing values

#occupation mode
fill = 'Prof-specialty'
retail1['occupation'] = retail1['occupation'].fillna(value = fill)

#employment_type mode
fill = 'Private'
retail1['employment_type'] = retail1['employment_type'].fillna(value = fill)

# country mode
fill = 'America'
retail1['country'] = retail1['country'].fillna(value = fill)

In [7]:
# Visualizing table 
retail1.head(n = 5)

   customer_id sex_at_birth       occupation   employment_type  education  completed_years_of_education      marital_status relationship_in_household   race  country type_of_client  quantity  total_spending  total_invoice
0       442855            F    Other-service           Private    HS-grad                             9            Divorced                 Unmarried  White  America            NaN       144           79.20              1
1       587848            M   Prof-specialty           Private  Doctorate                            16  Married-civ-spouse                   Husband  White  America            NaN       208          521.11             54
2      1787912            M  Farming-fishing  Self-emp-not-inc    HS-grad                             9  Married-civ-spouse                   Husband  White  America     Wholesaler        55          172.89             14
3      5740114            M     Craft-repair           Private  Assoc-voc                            11  Married-civ-spouse                   Husband  White  America            NaN        48          188.15             11
4      5957969            M    Other-service           Private  Bachelors                            13  Married-civ-spouse                   Husband  White  America            NaN        20           56.15              9

In [8]:
#checking if missing value disappeared
retail1.isnull().sum(axis = 0)

customer_id                        0
sex_at_birth                       0
occupation                         0
employment_type                    0
education                          0
completed_years_of_education       0
marital_status                     0
relationship_in_household          0
race                               0
country                            0
type_of_client                  3140
quantity                           0
total_spending                     0
total_invoice                      0
dtype: int64

In [9]:
# creating dummy variables 
#hot encoding retail1 categorical variables
sex_at_birth_dummie = pd.get_dummies(retail1['sex_at_birth'])
occupation_dummie = pd.get_dummies (retail1['occupation'])
employment_type_dummie = pd.get_dummies(retail1['employment_type'])
marital_status_dummie = pd.get_dummies (retail1 ['marital_status'])
relationship_in_household_dummie = pd.get_dummies (retail1['relationship_in_household'])
race_dummie = pd.get_dummies (retail1['race'])
country_dummie = pd.get_dummies (retail1['country'])
type_of_client_dummie = pd.get_dummies (retail1['type_of_client'])


# dropping retail categorical variables after they've been encoded
retail_data = retail1.drop('sex_at_birth', axis = 1)
retail_data = retail1.drop('occupation', axis = 1)
retail_data = retail1.drop('employment_type', axis = 1)
retail_data = retail1.drop('marital_status', axis = 1)
retail_data = retail1.drop('relationship_in_household', axis = 1)
retail_data = retail1.drop('race', axis = 1)
retail_data = retail1.drop('country', axis = 1)
retail_data = retail1.drop('type_of_client', axis = 1)


# joining codings together
retail_data = retail1.join([sex_at_birth_dummie, occupation_dummie, employment_type_dummie,
                            marital_status_dummie, relationship_in_household_dummie,
                            race_dummie, country_dummie, type_of_client_dummie])

In [10]:
# Visualizing the table
retail_data.head(n = 5)

   customer_id sex_at_birth       occupation   employment_type  education  completed_years_of_education      marital_status relationship_in_household   race  country type_of_client  quantity  total_spending  total_invoice  F  M  Adm-clerical  Armed-Forces  Craft-repair  Exec-managerial  Farming-fishing  Handlers-cleaners  Machine-op-inspct  Other-service  Priv-house-serv  Prof-specialty  Protective-serv  Sales  Tech-support  Transport-moving  Federal-gov  Local-gov  Never-worked  Private  Self-emp-inc  Self-emp-not-inc  State-gov  Divorced  Married-AF-spouse  Married-civ-spouse  Married-spouse-absent  Never-married  Separated  Widowed  Husband  Not-in-family  Other-relative  Own-child  Unmarried  Wife  Amer-Indian-Eskimo  Asian-Pac-Islander  Black  Other  White  America  Rest_world  Personal  Wholesaler
0       442855            F    Other-service           Private    HS-grad                             9            Divorced                 Unmarried  White  America            NaN       144           79.20              1  1  0             0             0             0                0                0                  0                  0              1                0               0                0      0             0                 0            0          0             0        1             0                 0          0         1                  0                   0                      0              0          0        0        0              0               0          0          1     0                   0                   0      0      0      1        1           0         0           0
1       587848            M   Prof-specialty           Private  Doctorate                            16  Married-civ-spouse                   Husband  White  America            NaN       208          521.11             54  0  1             0             0             0                0                0                  0                  0              0                0               1                0      0             0                 0            0          0             0        1             0                 0          0         0                  0                   1                      0              0          0        0        1              0               0          0          0     0                   0                   0      0      0      1        1           0         0           0
2      1787912            M  Farming-fishing  Self-emp-not-inc    HS-grad                             9  Married-civ-spouse                   Husband  White  America     Wholesaler        55          172.89             14  0  1             0             0             0                0                1                  0                  0              0                0               0                0      0             0                 0            0          0             0        0             0                 1          0         0                  0                   1                      0              0          0        0        1              0               0          0          0     0                   0                   0      0      0      1        1           0         0           1
3      5740114            M     Craft-repair           Private  Assoc-voc                            11  Married-civ-spouse                   Husband  White  America            NaN        48          188.15             11  0  1             0             0             1                0                0                  0                  0              0                0               0                0      0             0                 0            0          0             0        1             0                 0          0         0                  0                   1                      0              0          0        0        1              0               0          0          0     0                   0                   0      0      0      1        1           0         0           0
4      5957969            M    Other-service           Private  Bachelors                            13  Married-civ-spouse                   Husband  White  America            NaN        20           56.15              9  0  1             0             0             0                0                0                  0                  0              1                0               0                0      0             0                 0            0          0             0        1             0                 0          0         0                  0                   1                      0              0          0        0        1              0               0          0          0     0                   0                   0      0      0      1        1           0         0           0

In [11]:
# counting the number of zeroes 

y_of_edu_zeroes   = len(retail_data['completed_years_of_education'][retail_data['completed_years_of_education'] == 0]) 
quantity_zeroes     = len(retail_data['quantity'][retail_data['quantity'] == 0]) 
tot_spending_zeroes = len(retail_data['total_spending'][retail_data['total_spending'] == 0]) 
tot_invoice_zeroes   = len(retail_data['total_invoice'][retail_data['total_invoice'] == 0]) 
sex_at_birth_F_zeroes   = len(retail_data['F'][retail_data['F'] == 0]) 

# counting for occupation dummies
Adm_clerical_zeroes  = len(retail_data['Adm-clerical'][retail_data['Adm-clerical'] == 0]) 
Armed_Forces_zeroes = len(retail_data['Armed-Forces'][retail_data['Armed-Forces'] == 0]) 
Craft_repair_zeroes   = len(retail_data['Craft-repair'][retail_data['Craft-repair'] == 0]) 
Farming_fishing_zeroes   = len(retail_data['Farming-fishing'][retail_data['Farming-fishing'] == 0]) 
Handlers_cleaners_zeroes     = len(retail_data['Handlers-cleaners'][retail_data['Handlers-cleaners'] == 0]) 
Machine_op_inspct_zeroes = len(retail_data['Machine-op-inspct'][retail_data['Machine-op-inspct'] == 0]) 
Other_service_zeroes   = len(retail_data['Other-service'][retail_data['Other-service'] == 0]) 
Priv_house_serv_zeroes = len(retail_data['Priv-house-serv'][retail_data['Priv-house-serv'] == 0]) 
Prof_specialty_zeroes   = len(retail_data['Prof-specialty'][retail_data['Prof-specialty'] == 0]) 
Protective_serv_zeroes   = len(retail_data['Protective-serv'][retail_data['Protective-serv'] == 0]) 
Sales_zeroes     = len(retail_data['Sales'][retail_data['Sales'] == 0]) 
Tech_support_zeroes = len(retail_data['Tech-support'][retail_data['Tech-support'] == 0]) 
Transport_moving_zeroes = len(retail_data['Transport-moving'][retail_data['Transport-moving'] == 0]) 

# counting for employment dummies
Federal_gov_zeroes   = len(retail_data['Federal-gov'][retail_data['Federal-gov'] == 0]) 
Local_gov_zeroes = len(retail_data['Local-gov'][retail_data['Local-gov'] == 0]) 
Never_worked_zeroes   = len(retail_data['Never-worked'][retail_data['Never-worked'] == 0]) 
Private_zeroes   = len(retail_data['Private'][retail_data['Private'] == 0]) 
Self_emp_inc_zeroes     = len(retail_data['Self-emp-inc'][retail_data['Self-emp-inc'] == 0]) 
Self_emp_not_inc_zeroes = len(retail_data['Self-emp-not-inc'][retail_data['Self-emp-not-inc'] == 0]) 
State_gov_zeroes = len(retail_data['State-gov'][retail_data['State-gov'] == 0]) 

# counting for marital status dummies
Divorced_zeroes   = len(retail_data['Divorced'][retail_data['Divorced'] == 0]) 
Married_AF_spouse_zeroes   = len(retail_data['Married-AF-spouse'][retail_data['Married-AF-spouse'] == 0]) 
Married_civ_spouse_zeroes = len(retail_data['Married-civ-spouse'][retail_data['Married-civ-spouse'] == 0]) 
Married_spouse_absent_zeroes   = len(retail_data['Married-spouse-absent'][retail_data['Married-spouse-absent'] == 0]) 
Never_married_zeroes   = len(retail_data['Never-married'][retail_data['Never-married'] == 0]) 
Separated_zeroes     = len(retail_data['Separated'][retail_data['Separated'] == 0]) 
Widowed_zeroes = len(retail_data['Widowed'][retail_data['Widowed'] == 0]) 

# counting for relationship in household dummies
Husband_zeroes   = len(retail_data['Husband'][retail_data['Husband'] == 0]) 
Not_in_family_zeroes   = len(retail_data['Not-in-family'][retail_data['Not-in-family'] == 0]) 
Other_relative_zeroes = len(retail_data['Other-relative'][retail_data['Other-relative'] == 0]) 
Own_child_zeroes   = len(retail_data['Own-child'][retail_data['Own-child'] == 0]) 
Unmarried_zeroes   = len(retail_data['Unmarried'][retail_data['Unmarried'] == 0]) 
Wife_zeroes     = len(retail_data['Wife'][retail_data['Wife'] == 0]) 

# counting for race dummies
Amer_Indian_Eskimo_zeroes   = len(retail_data['Amer-Indian-Eskimo'][retail_data['Amer-Indian-Eskimo'] == 0]) 
Asian_Pac_Islander_zeroes = len(retail_data['Asian-Pac-Islander'][retail_data['Asian-Pac-Islander'] == 0]) 
Black_zeroes   = len(retail_data['Black'][retail_data['Black'] == 0]) 
Other_zeroes   = len(retail_data['Other'][retail_data['Other'] == 0]) 
White_zeroes     = len(retail_data['White'][retail_data['White'] == 0]) 

# counting for country dummies
Rest_world_zeroes   = len(retail_data['Rest_world'][retail_data['Rest_world'] == 0]) 
America_zeroes   = len(retail_data['America'][retail_data['America'] == 0]) 


# counting for occupation variable
Personal_zeroes   = len(retail_data['Personal'][retail_data['Personal'] == 0]) 
Wholesaler_zeroes     = len(retail_data['Wholesaler'][retail_data['Wholesaler'] == 0])




# printing a table of the results
print(f"""
                                          No\t\tYes
                                         ---------------------
Years of Education                       | {y_of_edu_zeroes}\t\t{len(retail_data) - y_of_edu_zeroes}
Quantity                                 | {quantity_zeroes}\t\t{len(retail_data) - quantity_zeroes}
Total Spending                           | {tot_spending_zeroes}\t\t{len(retail_data) - tot_spending_zeroes}
Total Invoice                            | {tot_invoice_zeroes}\t\t{len(retail_data) - tot_invoice_zeroes}
Sex at birth F                           | {sex_at_birth_F_zeroes}\t\t{len(retail_data) - sex_at_birth_F_zeroes}

occupation Adm clerical                  | {Adm_clerical_zeroes}\t\t{len(retail_data) - Adm_clerical_zeroes}
occupation Armed Forces                  | {Armed_Forces_zeroes}\t\t{len(retail_data) - Armed_Forces_zeroes}
occupation Craft repair                  | {Craft_repair_zeroes}\t\t{len(retail_data) - Craft_repair_zeroes}
occupation Farming-fishing               | {Farming_fishing_zeroes}\t\t{len(retail_data) - Farming_fishing_zeroes}
occupation Handlers-cleaners             | {Handlers_cleaners_zeroes }\t\t{len(retail_data) - Handlers_cleaners_zeroes }
Machine-op-inspct                        | {Machine_op_inspct_zeroes}\t\t{len(retail_data) - Machine_op_inspct_zeroes}
Other-service                            | {Other_service_zeroes}\t\t{len(retail_data) - Other_service_zeroes}
Priv-house-serv                          | {Priv_house_serv_zeroes}\t\t{len(retail_data) - Priv_house_serv_zeroes}
Prof-specialty                           | {Prof_specialty_zeroes}\t\t{len(retail_data) - Prof_specialty_zeroes}
Protective-serv                          | {Protective_serv_zeroes}\t\t{len(retail_data) - Protective_serv_zeroes}
Sales                                    | {Sales_zeroes}\t\t{len(retail_data) - Sales_zeroes}
Tech-support                             | {Tech_support_zeroes}\t\t{len(retail_data) - Tech_support_zeroes}
Transport-moving                         | {Transport_moving_zeroes}\t\t{len(retail_data) - Transport_moving_zeroes}

Federal-gov                              | {Federal_gov_zeroes}\t\t{len(retail_data) - Federal_gov_zeroes}
Local-gov                                | {Local_gov_zeroes}\t\t{len(retail_data) - Local_gov_zeroes}
Never-worked                             | {Never_worked_zeroes}\t\t{len(retail_data) - Never_worked_zeroes}
Private                                  | {Private_zeroes}\t\t{len(retail_data) - Private_zeroes}
Private                                  | {Private_zeroes }\t\t{len(retail_data) - Private_zeroes }
Self-emp-inc                             | {Self_emp_inc_zeroes}\t\t{len(retail_data) - Self_emp_inc_zeroes}
Self-emp_not-inc                         | {Self_emp_not_inc_zeroes}\t\t{len(retail_data) - Self_emp_not_inc_zeroes}
State-gov                                | {State_gov_zeroes}\t\t{len(retail_data) - State_gov_zeroes}

Divorced                                 | {Divorced_zeroes}\t\t{len(retail_data) - Divorced_zeroes}
Married-AF-spouse                        | {Married_AF_spouse_zeroes}\t\t{len(retail_data) - Married_AF_spouse_zeroes}
Married-civ-spouse                       | {Married_civ_spouse_zeroes}\t\t{len(retail_data) - Married_civ_spouse_zeroes}
Married-spouse-absent                    | {Married_spouse_absent_zeroes}\t\t{len(retail_data) - Married_spouse_absent_zeroes}
Never-married                            | {Never_married_zeroes}\t\t{len(retail_data) - Never_married_zeroes}
Separated                                | {Separated_zeroes}\t\t{len(retail_data) - Separated_zeroes}
Widowed                                 | {Widowed_zeroes}\t\t{len(retail_data) - Widowed_zeroes}



Husband                                  | {Husband_zeroes}\t\t{len(retail_data) - Husband_zeroes}
Not_in-family                            | {Not_in_family_zeroes}\t\t{len(retail_data) - Not_in_family_zeroes}
Other-relative                           | {Other_relative_zeroes}\t\t{len(retail_data) - Other_relative_zeroes}
Own-child                                | {Own_child_zeroes}\t\t{len(retail_data) - Own_child_zeroes}
Unmarried                                | {Unmarried_zeroes}\t\t{len(retail_data) - Unmarried_zeroes}
Wife                                     | {Wife_zeroes}\t\t{len(retail_data) - Wife_zeroes}

Amer-Indian-Eskimo                       | {Amer_Indian_Eskimo_zeroes}\t\t{len(retail_data) - Amer_Indian_Eskimo_zeroes}
Asian-Pac-Islander                       | {Asian_Pac_Islander_zeroes}\t\t{len(retail_data) - Asian_Pac_Islander_zeroes}
Black                                    | {Black_zeroes}\t\t{len(retail_data) - Black_zeroes}
Other                                    | {Other_zeroes}\t\t{len(retail_data) - Other_zeroes}
White                                    | {White_zeroes}\t\t{len(retail_data) - White_zeroes}

Rest World                               | {Rest_world_zeroes}\t\t{len(retail_data) - Rest_world_zeroes}
America                                  | {America_zeroes}\t\t{len(retail_data) - America_zeroes}

Personal                                 | {Personal_zeroes}\t\t{len(retail_data) - Personal_zeroes}
Wholesaler                               | {Wholesaler_zeroes}\t\t{len(retail_data) - Wholesaler_zeroes}
""")

                                          No		Yes
                                         ---------------------
Years of Education                       | 0		4138
Quantity                                 | 6		4132
Total Spending                           | 3		4135
Total Invoice                            | 0		4138
Sex at birth F                           | 2751		1387

occupation Adm clerical                  | 3665		473
occupation Armed Forces                  | 4136		2
occupation Craft repair                  | 3602		536
occupation Farming-fishing               | 3992		146
occupation Handlers-cleaners             | 3960		178
Machine-op-inspct                        | 3889		249
Other-service                            | 3716		422
Priv-house-serv                          | 4117		21
Prof-specialty                           | 3345		793
Protective-serv                          | 4050		88
Sales                                    | 3714		424
Tech-support                             | 4006		132
Transport-moving                         | 3952		186

Federal-gov                              | 3999		139
Local-gov                                | 3828		310
Never-worked                             | 4137		1
Private                                  | 1087		3051
Private                                  | 1087		3051
Self-emp-inc                             | 3989		149
Self-emp_not-inc                         | 3794		344
State-gov                                | 3994		144

Divorced                                 | 3541		597
Married-AF-spouse                        | 4136		2
Married-civ-spouse                       | 2275		1863
Married-spouse-absent                    | 4077		61
Never-married                            | 2783		1355
Separated                                | 4010		128
Widowed                                 | 4006		132



Husband                                  | 2493		1645
Not_in-family                            | 3022		1116
Other-relative                           | 4010		128
Own-child                                | 3532		606
Unmarried                                | 3683		455
Wife                                     | 3950		188

Amer-Indian-Eskimo                       | 4090		48
Asian-Pac-Islander                       | 4009		129
Black                                    | 3749		389
Other                                    | 4092		46
White                                    | 612		3526

Rest World                               | 3815		323
America                                  | 323		3815

Personal                                 | 3963		175
Wholesaler                               | 3315		823

# Building The Model

In [12]:
# changing the "-" sign with the "_" sign
retail_data = retail_data.rename(columns={'Adm-clerical': 'Adm_clerical', 
                                          'Armed-Forces': 'Armed_Forces', 
                                          'Craft-repair': 'Craft_repair', 
                                          'Exec-managerial': 'Exec_managerial', 
                                          'Farming-fishing': 'Farming_fishing', 
                                          'Handlers-cleaners': 'Handlers_cleaners', 
                                          'Machine-op-inspct': 'Machine_op_inspct',
                                          'Other-service': 'Other_service', 
                                          'Priv-house-serv': 'Priv_house_serv', 
                                          'Prof-specialty': 'Prof_specialty', 
                                          'Protective-serv': 'Protective_serv', 
                                          'Tech-support': 'Tech_support', 
                                          'Transport-moving': 'Transport_moving', 
                                          'Federal-gov': 'Federal_gov', 
                                          'Local-gov': 'Local_gov', 
                                          'Never-worked': 'Never_worked', 
                                          'Self-emp-inc': 'Self_emp_inc', 
                                          'Self-emp-not-inc': 'Self_emp_not_inc', 
                                          'State-gov': 'State_gov', 
                                          'Married-AF-spouse': 'Married_AF_spouse', 
                                          'Married-civ-spouse': 'Married_civ_spouse', 
                                          'Married-spouse-absent': 'Married_spouse_absent', 
                                          'Never-married': 'Never_married', 
                                          'Not-in-family': 'Not_in_family', 
                                          'Other-relative': 'Other_relative', 
                                          'Own-child': 'Own_child', 
                                          'Amer-Indian-Eskimo': 'Amer_Indian_Eskimo', 
                                          'Asian-Pac-Islander': 'Asian_Pac_Islander', 
                                           })

In [13]:
retail_data.head()

   customer_id sex_at_birth       occupation   employment_type  education  completed_years_of_education      marital_status relationship_in_household   race  country type_of_client  quantity  total_spending  total_invoice  F  M  Adm_clerical  Armed_Forces  Craft_repair  Exec_managerial  Farming_fishing  Handlers_cleaners  Machine_op_inspct  Other_service  Priv_house_serv  Prof_specialty  Protective_serv  Sales  Tech_support  Transport_moving  Federal_gov  Local_gov  Never_worked  Private  Self_emp_inc  Self_emp_not_inc  State_gov  Divorced  Married_AF_spouse  Married_civ_spouse  Married_spouse_absent  Never_married  Separated  Widowed  Husband  Not_in_family  Other_relative  Own_child  Unmarried  Wife  Amer_Indian_Eskimo  Asian_Pac_Islander  Black  Other  White  America  Rest_world  Personal  Wholesaler
0       442855            F    Other-service           Private    HS-grad                             9            Divorced                 Unmarried  White  America            NaN       144           79.20              1  1  0             0             0             0                0                0                  0                  0              1                0               0                0      0             0                 0            0          0             0        1             0                 0          0         1                  0                   0                      0              0          0        0        0              0               0          0          1     0                   0                   0      0      0      1        1           0         0           0
1       587848            M   Prof-specialty           Private  Doctorate                            16  Married-civ-spouse                   Husband  White  America            NaN       208          521.11             54  0  1             0             0             0                0                0                  0                  0              0                0               1                0      0             0                 0            0          0             0        1             0                 0          0         0                  0                   1                      0              0          0        0        1              0               0          0          0     0                   0                   0      0      0      1        1           0         0           0
2      1787912            M  Farming-fishing  Self-emp-not-inc    HS-grad                             9  Married-civ-spouse                   Husband  White  America     Wholesaler        55          172.89             14  0  1             0             0             0                0                1                  0                  0              0                0               0                0      0             0                 0            0          0             0        0             0                 1          0         0                  0                   1                      0              0          0        0        1              0               0          0          0     0                   0                   0      0      0      1        1           0         0           1
3      5740114            M     Craft-repair           Private  Assoc-voc                            11  Married-civ-spouse                   Husband  White  America            NaN        48          188.15             11  0  1             0             0             1                0                0                  0                  0              0                0               0                0      0             0                 0            0          0             0        1             0                 0          0         0                  0                   1                      0              0          0        0        1              0               0          0          0     0                   0                   0      0      0      1        1           0         0           0
4      5957969            M    Other-service           Private  Bachelors                            13  Married-civ-spouse                   Husband  White  America            NaN        20           56.15              9  0  1             0             0             0                0                0                  0                  0              1                0               0                0      0             0                 0            0          0             0        1             0                 0          0         0                  0                   1                      0              0          0        0        1              0               0          0          0     0                   0                   0      0      0      1        1           0         0           0

In [14]:
# declaring set of x_variables
x_variables = [              "quantity",                                
                               "total_invoice",
                                "F",
                                "Adm_clerical",
                                
                                "Craft_repair",
                                "Exec_managerial",
                                "Farming_fishing",
                                "Handlers_cleaners",
                                "Machine_op_inspct",                               
                                
                                "Prof_specialty",
                                
                                "Sales",
                                "Tech_support",
                                "Transport_moving",               
                                "Federal_gov",
                                "Local_gov",                              
                                "Private",
                                "Self_emp_inc",
                                "Self_emp_not_inc",
                                "State_gov",          
                                "Divorced",                               
                                "Married_civ_spouse",
                               
                                "Never_married",
                                "Separated",
                                "Widowed",
                                "Husband",
                                "Not_in_family",
                                "Other_relative",
                                "Own_child",
                                "Unmarried",
                               
                                "Asian_Pac_Islander",
                                "Black",         
                                "White", 
                                "Rest_world",
                                "America"
                                
                                               ]

In [15]:
# preparing response variables
retail_target = retail_data.loc[ : , 'Wholesaler']


# preparing training and testing sets (all letters are lowercase)
x_train, x_test, y_train, y_test = train_test_split(
            retail_data,         # x data
            retail_target,       # y data
            test_size = 0.25,     # size of training set
            random_state = 219)   # lock in random sequence


# checking the shapes of the datasets
print(f"""
Training Data
-------------
X-side: {x_train.shape}
y-side: {y_train.shape}


Testing Data
------------
X-side: {x_test.shape}
y-side: {y_test.shape}
""")

Training Data
-------------
X-side: (3103, 59)
y-side: (3103,)


Testing Data
------------
X-side: (1035, 59)
y-side: (1035,)

## Model Development in scikit-learn

In [18]:
# applying modelin scikit-learn

# preparing x-variables from the Logistic model
LogReg_data = retail_data.loc[ :, x_variables ]


# preparing response variable
retail_target = retail_data.loc[ : , 'Wholesaler']


###############################################
## setting up more than one train-test split ##
###############################################
# FULL X-dataset (normal Y)
x_train_FULL, x_test_FULL, y_train_FULL, y_test_FULL = train_test_split(
            retail_data,     # x-variables
            retail_target,   # y-variable
            test_size = 0.25,
            random_state = 219)


# OLS p-value x-dataset (normal Y)
x_train_LGS, x_test_LGS, y_train_LGS, y_test_LGS = train_test_split(
            LogReg_data,         # x-variables
            retail_target,   # y-variable
            test_size = 0.25,
            random_state = 219)

In [19]:
# INSTANTIATING a model object
logreg = LogisticRegression()


# FITTING to the training data
logreg_fit = logreg.fit(x_train_LGS, y_train_LGS)


# PREDICTING on new data
logreg_pred = logreg_fit.predict(x_test_LGS)


# SCORING the results
print('Logistic Training Score :', logreg.score(x_train_LGS, y_train_LGS).round(4))  # using R-square
print('Logistic Testing Score  :',  logreg.score(x_test_LGS, y_test_LGS).round(4))   # using R-square

logreg_train_score = logreg.score(x_train_LGS, y_train_LGS).round(4)
logreg_test_score = logreg.score(x_test_LGS, y_test_LGS).round(4)

# displaying and saving the gap between training and testing
print('Logistic Train-Test Gap :', abs(logreg_train_score - logreg_test_score).round(4))
logreg_test_gap = abs(logreg_train_score - logreg_test_score).round(4)

Logistic Training Score : 0.7983
Logistic Testing Score  : 0.799
Logistic Train-Test Gap : 0.0007

In [20]:
# Compute and print the confusion matrix and classification report
print(confusion_matrix(y_test, logreg_pred))
print(classification_report(y_test, logreg_pred))

[[822   5]
 [203   5]]
              precision    recall  f1-score   support

           0       0.80      0.99      0.89       827
           1       0.50      0.02      0.05       208

    accuracy                           0.80      1035
   macro avg       0.65      0.51      0.47      1035
weighted avg       0.74      0.80      0.72      1035

In [82]:
x_test_LGS.head(n=10)

      quantity  total_invoice  F  Adm_clerical  Craft_repair  Exec_managerial  Farming_fishing  Handlers_cleaners  Machine_op_inspct  Prof_specialty  Sales  Tech_support  Transport_moving  Federal_gov  Local_gov  Private  Self_emp_inc  Self_emp_not_inc  State_gov  Divorced  Married_civ_spouse  Never_married  Separated  Widowed  Husband  Not_in_family  Other_relative  Own_child  Unmarried  Asian_Pac_Islander  Black  White  Rest_world  America
240        261             23  0             0             0                0                0                  0                  0               0      0             1                 0            0          0        1             0                 0          0         0                   1              0          0        0        1              0               0          0          0                   0      0      1           0        1
2187       231             43  0             0             0                0                0                  0                  0               1      0             0                 0            0          1        0             0                 0          0         0                   1              0          0        0        1              0               0          0          0                   0      0      1           0        1
1578        37             13  1             0             0                0                0                  0                  0               1      0             0                 0            0          0        0             0                 1          0         0                   0              1          0        0        0              0               0          1          0                   0      0      1           0        1
3471       269             30  1             1             0                0                0                  0                  0               0      0             0                 0            0          0        1             0                 0          0         1                   0              0          0        0        0              0               0          0          1                   0      0      1           0        1
3947        61             21  1             0             0                0                0                  0                  0               0      0             0                 0            0          0        1             0                 0          0         0                   0              0          0        1        0              0               0          0          1                   0      0      1           1        0
827         91             36  0             0             1                0                0                  0                  0               0      0             0                 0            0          0        1             0                 0          0         0                   0              0          1        0        0              1               0          0          0                   0      0      1           1        0
907        166             14  1             0             0                0                0                  0                  0               1      0             0                 0            0          0        1             0                 0          0         0                   0              1          0        0        0              1               0          0          0                   0      0      1           0        1
3143        23             23  0             0             1                0                0                  0                  0               0      0             0                 0            0          1        0             0                 0          0         0                   1              0          0        0        1              0               0          0          0                   0      0      1           0        1
519         32             10  1             1             0                0                0                  0                  0               0      0             0                 0            0          1        0             0                 0          0         1                   0              0          0        0        0              0               0          0          1                   1      0      0           0        1
2814      1520             16  0             0             0                0                0                  0                  0               0      0             0                 0            0          1        0             0                 0          0         0                   1              0          0        0        1              0               0          0          0                   0      0      1           0        1

In [84]:
prediction_results = pd.DataFrame(data = {
    'Quantity'                      : x_test_LGS.loc[ : , 'quantity'],
    'Total Invoices'                : x_test_LGS.loc[ : , 'total_invoice'],
    'Sex'                           : x_test_LGS.loc[ : , 'F'],
    'Country: America'              : x_test_LGS.loc[ : , 'America'],
    'Country: Rest of the World'    : x_test_LGS.loc[ : , 'Rest_world'],
    'Employment:Fed'                : x_test_LGS.loc[ : , 'Federal_gov'],
    'Employment:Local'              : x_test_LGS.loc[ : , 'Local_gov'],
    'Employment:Private'            : x_test_LGS.loc[ : , 'Private'],
    'Employment:Self Employ Inc'    : x_test_LGS.loc[ : , 'Self_emp_inc'],
    'Employment:Self Employ Ninc'   : x_test_LGS.loc[ : , 'Self_emp_not_inc'],
    'Employment:State Gov'          : x_test_LGS.loc[ : , 'State_gov'],
    'Original Type of customer'     : y_test_FULL,
    'LogReg Predictions'            : logreg_pred.round(decimals = 2),
    'LogReg Deviation'              : logreg_pred.round(decimals = 2) - y_test_FULL,
    })


prediction_results.to_csv( './H_Retail_Complete_Trial.csv', index = False)

# Pattern Observation

In [180]:
# setting pandas print options
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)


# specifying the path and file names
file = './H_Retail_Complete_Trial.csv'


# reading the file into Python
retailk = pd.read_csv(file)


# checking the table
retailk.head(n = 5)

   Quantity  Total Invoices  Sex  Country: America  Country: Rest of the World  Employment:Fed  Employment:Local  Employment:Private  Employment:Self Employ Inc  Employment:Self Employ Ninc  Employment:State Gov  Original Type of customer  LogReg Predictions  LogReg Deviation
0       261              23    0                 1                           0               0                 0                   1                           0                            0                     0                          0                   0                 0
1       231              43    0                 1                           0               0                 1                   0                           0                            0                     0                          0                   0                 0
2        37              13    1                 1                           0               0                 0                   0                           0                            1                     0                          0                   0                 0
3       269              30    1                 1                           0               0                 0                   1                           0                            0                     0                          0                   0                 0
4        61              21    1                 0                           1               0                 0                   1                           0                            0                     0                          0                   0                 0

In [181]:
# create a table only for wholsaler
wholsaler = retailk.loc[ : , ['Quantity', 'Total Invoices', 'Sex', 'Country: America', 
                  'Country: Rest of the World', 'Employment:Fed', 'Employment:Local', 
                  'Employment:Private', 'Employment:Self Employ Inc','Employment:Self Employ Ninc',
                  'Employment:State Gov','Original Type of customer'] ] \
                 [retailk.loc[ : , 'LogReg Deviation']   == 255]

# observing data of wholsaler
wholsaler.describe()

           Quantity  Total Invoices         Sex  Country: America  Country: Rest of the World  Employment:Fed  Employment:Local  Employment:Private  Employment:Self Employ Inc  Employment:Self Employ Ninc  Employment:State Gov  Original Type of customer
count    203.000000      203.000000  203.000000        203.000000                  203.000000      203.000000        203.000000          203.000000                  203.000000                   203.000000            203.000000                      203.0
mean     892.699507       40.044335    0.369458          0.935961                    0.064039        0.039409          0.093596            0.729064                    0.039409                     0.073892              0.024631                        1.0
std     3624.533331       30.451764    0.483851          0.245428                    0.245428        0.195047          0.291986            0.445542                    0.195047                     0.262241              0.155380                        0.0
min        4.000000        1.000000    0.000000          0.000000                    0.000000        0.000000          0.000000            0.000000                    0.000000                     0.000000              0.000000                        1.0
25%      112.000000       19.000000    0.000000          1.000000                    0.000000        0.000000          0.000000            0.000000                    0.000000                     0.000000              0.000000                        1.0
50%      237.000000       30.000000    0.000000          1.000000                    0.000000        0.000000          0.000000            1.000000                    0.000000                     0.000000              0.000000                        1.0
75%      497.500000       51.500000    1.000000          1.000000                    0.000000        0.000000          0.000000            1.000000                    0.000000                     0.000000              0.000000                        1.0
max    41841.000000      154.000000    1.000000          1.000000                    1.000000        1.000000          1.000000            1.000000                    1.000000                     1.000000              1.000000                        1.0

In [183]:
# creating a table for personal
personal = retailk.loc[ : , ['Quantity', 'Total Invoices', 'Sex', 'Country: America', 
                  'Country: Rest of the World', 'Employment:Fed', 'Employment:Local', 
                  'Employment:Private', 'Employment:Self Employ Inc','Employment:Self Employ Ninc',
                  'Employment:State Gov','Original Type of customer'] ] \
                 [retailk.loc[ : , 'LogReg Deviation']   == 0]

# observing data of personal
personal.describe()

           Quantity  Total Invoices         Sex  Country: America  Country: Rest of the World  Employment:Fed  Employment:Local  Employment:Private  Employment:Self Employ Inc  Employment:Self Employ Ninc  Employment:State Gov  Original Type of customer
count    827.000000      827.000000  827.000000        827.000000                  827.000000      827.000000        827.000000          827.000000                  827.000000                   827.000000            827.000000                 827.000000
mean     352.869407       28.922612    0.337364          0.922612                    0.077388        0.031439          0.076179            0.746070                    0.024184                     0.083434              0.038694                   0.006046
std     3278.031728       26.888863    0.473096          0.267368                    0.267368        0.174606          0.265445            0.435521                    0.153712                     0.276705              0.192982                   0.077567
min   -74215.000000        1.000000    0.000000          0.000000                    0.000000        0.000000          0.000000            0.000000                    0.000000                     0.000000              0.000000                   0.000000
25%       43.000000       11.000000    0.000000          1.000000                    0.000000        0.000000          0.000000            0.000000                    0.000000                     0.000000              0.000000                   0.000000
50%      112.000000       22.000000    0.000000          1.000000                    0.000000        0.000000          0.000000            1.000000                    0.000000                     0.000000              0.000000                   0.000000
75%      306.000000       38.000000    1.000000          1.000000                    0.000000        0.000000          0.000000            1.000000                    0.000000                     0.000000              0.000000                   0.000000
max    28478.000000      239.000000    1.000000          1.000000                    1.000000        1.000000          1.000000            1.000000                    1.000000                     1.000000              1.000000                   1.000000

In [187]:
###
print(f"""

Analysis of Wholsalers
------------------------------------------------------
Average quantity                    : {int(wholsaler['Quantity'].mean())}
Quantity on 3rd quantile            : {int(np.quantile(wholsaler['Quantity'], .75))}
Average total invoices              : {int(wholsaler['Total Invoices'].mean())}
Average invoices on 3st quantile    : {int(np.quantile(wholsaler['Total Invoices'], .75))}
Percentage of Male                  : {int(((len(wholsaler['Sex']) - sum(wholsaler['Sex']))/ len(wholsaler['Sex'])*100))}%
Percentage from America             : {int(((len(wholsaler['Country: America']) - sum(wholsaler['Country: America']))/ len(wholsaler['Country: America'])*100))}%

Wholsalers Employment Type
------------------------------------------------------
Percentage of Federal Government    : {int(100 -((len(wholsaler['Employment:Fed']) - sum(wholsaler['Employment:Fed']))/ len(wholsaler['Employment:Fed'])*100))}%
Percentage of Local Government      : {int(100 -((len(wholsaler['Employment:Local']) - sum(wholsaler['Employment:Local']))/ len(wholsaler['Employment:Local'])*100))}%
Percentage of Private               : {int(100 -((len(wholsaler['Employment:Private']) - sum(wholsaler['Employment:Private']))/ len(wholsaler['Employment:Private'])*100))}%
Percentage of Self-employed Inc     : {int(100 -((len(wholsaler['Employment:Self Employ Inc']) - sum(wholsaler['Employment:Self Employ Inc']))/ len(wholsaler['Employment:Self Employ Inc'])*100))}%
Percentage of Self-employed not Inc : {int(100 -((len(wholsaler['Employment:Self Employ Ninc']) - sum(wholsaler['Employment:Self Employ Ninc']))/ len(wholsaler['Employment:Self Employ Ninc'])*100))}%
Percentage of State Government      : {int(100 -((len(wholsaler['Employment:State Gov']) - sum(wholsaler['Employment:State Gov']))/ len(wholsaler['Employment:State Gov'])*100))}%

Analysis of Personal
------------------------------------------------------
Average quantity                    : {int(personal['Quantity'].mean())}
Average quantity on 3st quantile    : {int(np.quantile(personal['Quantity'], .75))}
Average total invoices              : {int(personal['Total Invoices'].mean())}
Average invoices on 3st quantile    : {int(np.quantile(personal['Total Invoices'], .75))}
Percentage of Male                  : {int(((len(personal['Sex']) - sum(personal['Sex']))/ len(personal['Sex'])*100))}%
Percentage from America             : {int(((len(personal['Country: America']) - sum(personal['Country: America']))/ len(personal['Country: America'])*100))}%

Personal Employment Type
------------------------------------------------------
Percentage of Federal Government    : {int(100 -((len(personal['Employment:Fed']) - sum(personal['Employment:Fed']))/ len(personal['Employment:Fed'])*100))}%
Percentage of Local Government      : {int(100 -((len(personal['Employment:Local']) - sum(personal['Employment:Local']))/ len(personal['Employment:Local'])*100))}%
Percentage of Private               : {int(100 -((len(personal['Employment:Private']) - sum(personal['Employment:Private']))/ len(personal['Employment:Private'])*100))}%
Percentage of Self-employed Inc     : {int(100 -((len(personal['Employment:Self Employ Inc']) - sum(personal['Employment:Self Employ Inc']))/ len(personal['Employment:Self Employ Inc'])*100))}%
Percentage of Self-employed not Inc : {int(100 -((len(personal['Employment:Self Employ Ninc']) - sum(personal['Employment:Self Employ Ninc']))/ len(personal['Employment:Self Employ Ninc'])*100))}%
Percentage of State Government      : {int(100 -((len(personal['Employment:State Gov']) - sum(personal['Employment:State Gov']))/ len(personal['Employment:State Gov'])*100))}%
""")

Analysis of Wholsalers
------------------------------------------------------
Average quantity                    : 892
Quantity on 3rd quantile            : 497
Average total invoices              : 40
Total invoices on 3st quantile      : 51
Percentage of Male                  : 63%
Percentage from America             : 6%

Wholsalers Employment Type
------------------------------------------------------
Percentage of Federal Government    : 3%
Percentage of Local Government      : 9%
Percentage of Private               : 72%
Percentage of Self-employed Inc     : 3%
Percentage of Self-employed not Inc : 7%
Percentage of State Government      : 2%

Analysis of Personal
------------------------------------------------------
Average quantity                    : 352
Average quantity on 3st quantile    : 306
Average total invoices              : 28
Average invoices on 3st quantile    : 38
Percentage of Male                  : 66%
Percentage from America             : 7%

Personal Employment Type
------------------------------------------------------
Percentage of Federal Government    : 3%
Percentage of Local Government      : 7%
Percentage of Private               : 74%
Percentage of Self-employed Inc     : 2%
Percentage of Self-employed not Inc : 8%
Percentage of State Government      : 3%